<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini_Project</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-screen min-h-screen text-white bg-gray-700 flex items-center flex-col">
        <div class="w-full flex items-center justify-between p-5 mb-3">
            <h1 class="text-4xl font-bold">LogIn</h1>
            <a href="/"><button class="bg-blue-700 font-medium text-sm px-3 py-2 rounded-lg shadow-lg">Register</button></a>
        </div>
        <div class="w-[100%] sm:w-[50%] flex items-center justify-center bg-gray-800  rounded-xl mb-5">
            <form action="/login" method="post" class="w-full flex flex-col items-center py-5 justify-center shadow-2xl">
                <div class="w-3/4 flex flex-col mt-3 mb-1">
                    <label for="useremail" class="pb-2">Email:</label>
                    <input type="email" class="bg-gray-600 outline-none p-2 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
                    invalid:border-pink-500 invalid:text-pink-600
                    focus:invalid:border-pink-500 focus:invalid:ring-pink-500" name="useremail" id="useremail" placeholder="Enter Your Email">
                </div>
                <div class="w-3/4 flex flex-col mt-3 mb-8">
                    <label for="userpassword" class="pb-2">Password:</label>
                    <input type="password" class="bg-gray-600 outline-none p-2 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
                    invalid:border-pink-500 invalid:text-pink-600
                    focus:invalid:border-pink-500 focus:invalid:ring-pink-500" name="userpassword" id="userpassword" placeholder="Enter Strong Password">
                </div>
                <div class="flex gap-10">
                    <a href=""><button type="submit" class="bg-blue-700 font-medium text-sm px-3 py-2 rounded-lg shadow-lg transition-all duration-400 hover:scale-125">Login</button></a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>